#messages {
    height: 668px;
    margin-top: 20px;
    overflow-y: scroll;
    padding: 5px;
}

#input-message {
    display: block;
    width: 100%;
    overflow-wrap: break-word;
}

.username-chat {
    font-weight: bold;
}

.username-color-green {
    color: #00FF00;
}

.username-color-magenta {
    color: #FF0DFF;
}

.username-color-cyan {
    color: #00FFFF;
}

.username-color-blue {
    color: #0018FF;
}

.username-color-purple {
    color: #5C00FF;
}

.username-color-red {
    color: #FC2400;
}
