#rooms-sidebar {
    height: 700px;
    overflow-y: auto;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item {
    background-color: transparent;
    border: 0;
    color: #FD5F00;
}

.rooms .list-group-item:hover {
    border: 1px solid;
    color: #FD5F00;
}
